.cardOut1{
  transform: translateX(1000px);
}

.cardOut2{
  transform: translateX(1000px);
}

.cardOut3{
  transform: translateX(1000px);
}

.cardOut4{
  transform: translateX(1000px);
}

.cardOut5{
  transform: translateX(1000px);
}

.cardOut6{
  transform: translateX(1000px);
}