.footer-container{
  background-color: #31473A;
  font-size: 0.8rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Rubik", sans-serif;
  right: 0;
}